h1 {
    border-bottom: solid 4px black;
    text-align: center;
}

.hide {
    display: none;
}

.infoBar {
    background: blue;
    color: white;
}

.infoBar a{
    margin-left: 15px;
    float: right;
}

.quoteHolder {
    background: #232F3E;
    color: white;
    margin-bottom: 15px;
}

.search-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-quote {
    margin-bottom: 30px;
    text-align: center;
}

.quotation {
    font-size: 60px;
 }

.author {
    color: chartreuse;
    margin-left: 40px;
}